{% extends 'base.html.twig' %}
{% block body %}
    <h2>Result of your dice throw</h2>

    <p>
        {% for result in data['roll'] %} {{result}} {% endfor %} = {{data['sum']}}
    </p>

    <p>
        {% for die in data['graphicDice'] %} 
            <i class="dice-sprite {{die}}"></i>
        {% endfor %}
    </p>
{% endblock %}

