{% block body %}
    <form method ="post" action="{{ path('app_game21_setup')}}">
        <p>Do you want to play with one or two dice?</p>
        <input type="radio" id="oneDie" name="dice" value="1">
        <label for="onedie">One die</label><br>
        <input type="radio" id="twoDice" name="dice" value="2" checked>
        <label for="twoDice">Two dice</label><br>
    
        <p>Do you want to play with text or graphical dice?</p>
        <input type="radio" id="textDice" name="diceType" value="text" onclick = "enableSides()">
        <label for="textDice">Text dice</label><br>
        <input type = "number" min = "1" max = "2000" id = "sides" value = 6 name = "sides" disabled>
        <label for="sides">Sides</label><br>
        <input type="radio" id="graphicalDice" name="diceType" value="graphical" checked = "checked" onclick = "disableSides()">
        <label for="graphicalDice">Graphical dice</label><br>
        <input type = "number" min = "0" max = {{data['maxBet']}} id = "bet" name = "bet">
        <label for="bet">Place your bet</label><br>
        <input type = "submit" id="submit" name="doit" value = "Start game">
    </form>

{% endblock %}
