{% extends 'base.html.twig' %}
{% block body %}
    <h2>Welcome</h2>
    <p>This website is made as a part of the course <a href="https://dbwebb.se/kurser/mvc-v1">mvc</a> at BTH.</p> </p>
{% endblock %}